body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 200px;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.hire_me{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.hire_me:hover{
    text-decoration: none;
    background-image: linear-gradient(#ff0000,#ffe100);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    transition: .4s;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    
}
/* =======================
     dream part start
==================== */
.dream_part{
    display: flex;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream_half{
    width: 50%;
    padding-left: 5%;
}
.resume-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
/*
 =======================
     dream part end
==================== */
/*=====================
     Experiences part start
==================== */
.ex{
    text-align: left;
    margin-left: 40px;
}
.expriences{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.content{
    display: flex;
}
.ex_half{
    width: 40%;
    padding: 10px 0px 0px 20px;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-box-shadow: 6px 6px 57px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 57px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 57px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
#full-stack{
    border-left: 7px solid tomato;
}
#baby-dev{
    border-left: 7px solid blue; 
}

.ex_half h2{
    font-size: 40px;
}
/*=====================
     Experiences part end
==================== */
footer p{
    text-align: center;
}